<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0; padding: 0">
    <table align="center" cellpadding="0" cellspacing="0" width="60%">
      <tr>
        <td style="padding: 0">
          <img src="blue.svg" align="right" height="127px" />
        </td>
      </tr>
      <tr>
        <td
          style="
            text-align: center;
            font-size: 35px;
            font-family: 'Noto Sans KR';
            font-weight: bold;
          "
        >
          ‘<%= projectName %>’의 프로젝트 계획서가<br />
          승인되었습니다.
        </td>
      </tr>
      <tr>
        <td style="padding: 12px 0px">
          <table align="center">
            <tr>
              <td
                style="
                  width: 80%;
                  height: 200px;
                  background: rgba(56, 107, 238, 0.05);
                  text-align: center;
                  line-height: 30px;
                  padding: 2%;
                  margin: 0 auto;
                "
              >
                담당 선생님의 코멘트 : <br />
                <%= comment %></td>
            </tr>
            <tr>
              <td style="text-align: right">
                <a
                  href="https://www.dsm-rms.com"
                  style="
                    color: #000000;
                    font-family: 'Noto Sans KR';
                    font-size: 10px;
                    text-decoration: none;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
                  "
                  >계획서 보러 가기 ></a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
